/********** Template CSS **********/
:root {
  --primary: #fb8f4e;
  --secondary: #fe8800;
  --light: #f5f5f5;
  --dark: #14141f;
}

.fw-medium {
  font-weight: 600 !important;
}

.fw-semi-bold {
  font-weight: 700 !important;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Sticky Notes ***/
.sticky-note {
  cursor: pointer;
  width: 20%;
  height: 35px;
  background-color: teal;
  position: fixed;
  padding: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  top: 160px;
  right: 0;
  z-index: 1;
}

.note-1 {
  top: 160px;
  right: 0;
}

.sticky-note a {
  color: #f5f5f5;
  font-weight: 100;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .sticky-note {
    width: 60%;
    height: 35px;
    top: 100px;
    right: 0;
    margin-top: 33px;
    padding: 5px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
}
@media screen and (max-width: 780px) {
  .sticky-note {
    width: 45%;
    height: 35px;
    top: 100px;
    right: 0;
    margin-top: 33px;
    padding: 6px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
}

@media screen and (max-width: 780px) {
  .sticky-note a {
    color: #f5f5f5;
    font-weight: 100;
    justify-content: center;
    text-align: right;
  }
}

@media screen and (max-width: 480px) {
  .sticky-note a {
    color: #f5f5f5;
    font-weight: 100;
    justify-content: center;
    text-align: right;
  }
}

@media screen and (max-width: 780px) {
  .sticky-note p {
    margin-top: 0px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 480px) {
  .sticky-note p {
    margin-top: 0px;
    margin-bottom: 0;
  }
}
/************** whatsapp sticky***********/
.whatsapp-sticky {
  position: fixed;
  bottom: 225px;
  right: 17px;
  z-index: 999;
}

.whatsapp-sticky img {
  width: 50px;
  height: auto;
}


@media screen and (max-width: 1440px) {
  .whatsapp-sticky {
margin-top: 60px;
bottom: 25%;
width: 45px;
  }
}

/*** Sticky Notes End ***/

/*************about us screen size home page ********/

@media (max-width: 480px) {
  #text-section {
    order: 1;
  }

  #image-section {
    order: 2;
  }
}

/*** Button ***/
.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
  right: 17px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 0px;
}

/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
  font-family: "Nunito", sans-serif;
  position: sticky;
  margin-right: 25px;
  padding: 0 0;
  color: #14141f !important;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 0 0;
  color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary) !important;
}

.navbar-light .navbar-brand img {
  max-height: 100px;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-brand img {
  max-height: 100px;
}

@media (max-width: 991.98px) {
  .sticky-top.navbar-light {
    position: relative;
    background: #ffffff;
  }

  .navbar-light .navbar-collapse {
    margin-top: 15px;
    border-top: 1px solid #dddddd;
  }

  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
    margin-left: 0;
    color: var(--dark) !important;
  }
}

@media (min-width: 992px) {
  .navbar-light {
    position: sticky;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(256, 256, 256, 0.1);
    z-index: 999;
  }

  .sticky-top.navbar-light {
    position: fixed;
    background: #ffffff;
  }

  .navbar-light .navbar-nav .nav-link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background: var(--primary);
    transition: 0.5s;
  }

  .navbar-light .navbar-nav .nav-link:hover::before,
  .navbar-light .navbar-nav .nav-link.active::before {
    width: calc(100% - 2px);
    left: 1px;
  }

  .navbar-light .navbar-nav .nav-link.nav-contact::before {
    display: none;
  }
}

/*** Hero Header ***/
.hero-header {
  background: linear-gradient(rgba(20, 20, 31, 0.7), rgba(20, 20, 31, 0.7)),
    url(../img/banaras1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}

/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}

.section-title::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}

.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}

/*** Service ***/
.service-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
  transition: 0.5s;
  height: 335px;
}

.service-item:hover {
  background: var(--primary);
}

.service-item * {
  transition: 0.5s;
}

.service-item:hover * {
  color: var(--light) !important;
}

/*** services image css for motion ***/
/* Apply the bounce animation to the image */
.simg {
  width: 100%;
  text-align: center;
  animation: bounce 1s infinite alternate; /* Adjust the duration as needed */
}

/* Define the bounce animation */
@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(
      -10px
    ); /* Adjust the distance you want the image to move */
  }
}

/*** services image css for motion ***/

/*** Destination ***/
.destination img {
  transition: 0.5s;
}

.destination a:hover img {
  transform: scale(1.1);
}

/*** Package ***/
.package-item {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

.package-item img {
  transition: 0.5s;
}

.package-item:hover img {
  transform: scale(1.1);
}

/*** Booking ***/
.booking {
  background: linear-gradient(rgba(15, 23, 43, 0.7), rgba(15, 23, 43, 0.7)),
    url(../img/bk.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/******* Package Table *******/

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

th {
  text-align: center;
  font-weight: bold;
  color: black;
}

.section {
  border-left: 1px solid black;
  padding-left: 10px;
  font-weight: bold;
  color: black;
}

/***** 2nd Table *****************/
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

th {
  text-align: center;
  font-weight: bold;
  color: black;
}

.section {
  border-left: 1px solid black;
  padding-left: 10px;
  font-weight: bold;
  color: black;
}

/***** 3rd Table *****************/
table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

th {
  text-align: center;
  font-weight: bold;
  color: black;
}

.section {
  border-left: 1px solid black;
  padding-left: 10px;
  font-weight: bold;
  color: black;
}
/*************read More Pacakge***********/
/* Day 1 */
#hiddenParagraph1 {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Day 2 */
#hiddenParagraph2 {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
/* Day 3 */
#hiddenParagraph3 {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

/* Days Heading Style */
.style {
  margin: 1em 0 0.5em 0;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  font-family: "Orienta", sans-serif;
  background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
  border-radius: 20px;
  text-align: center;
}
/* Days Heading Style */

/*************read More Pacakge***********/



/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light);
  font-weight: normal;
  border: 1px solid #ffffff;
  border-radius: 35px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  color: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: var(--light);
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}

/* **** Carousel Header Css*** */
.carousel-inner {
  overflow: hidden;
  /* Hide overflowing content */
}

.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  /* Background color for captions */
  color: #fff;
  /* Text color for captions */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Optional: Style the caption text */
.carousel-caption h1 {
  font-size: 50px;
  /* Font size for caption headings */
  color: #ffffff;
  width: 100%;
}

.carousel-caption p {
  font-size: 25px;
  /* Font size for caption content */
}

/***** PopUp Fourm******/

/* Styling for the background overlay */

#popupIcon {
  position: fixed;
  width: 3.5%;
  bottom: 21%;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  animation: bounce 1s infinite alternate; /* Use the "bounce" animation */
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(
      -10px
    ); /* Adjust the distance you want the icon to move */
  }
}
@media only screen and (max-width: 767px) {
  #popupIcon {
    width: 8%; 
    bottom: 10%; 
  }
}

@media screen and (max-width: 1440px) {
#popupIcon  {
margin-top: 30px;
bottom: 14%;
width: 45px;
right: 18;
  }
}
@media screen and (max-width: 1540px) {
#popupIcon  {
margin-top: 30px;
bottom: 14%;
width: 45px;
right: 18;
  }
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.popup-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 65%; /* Adjust the width as needed */
  box-sizing: border-box;
  overflow: hidden;
}

#cancel {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

.name-email,
.mobile-date,
.place-person {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 25px;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  width: 45%; 
}
label {
  margin: 5px;
}

.popup-input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#message {
  width: 100%;
}

#submitBtn {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}


@media only screen and (max-width: 600px) {
  #popupForm {
    width: 90%;
    height: auto;
  }

  .popup-input {
    width: 100%;
  }
}